@use '../shared/styles/common.scss' as *;



* {
    color: white;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: unset;
    font-variant: small-caps;
}

.logo {
    height: 20vh;
}

.intro {
    margin-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.block {
    display: inline-block;
}