@use '../shared/styles/common.scss' as *;

* {
    color: white;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: unset;
    font-variant: small-caps;
}

.subtitle {
    font-style: italic;
}

.logo {
    height: 20vh;
}

.intro {
    margin-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.loading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;

    &*{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    .bigger {
        font-size: 1.2em;
    }
}

.block {
    display: inline-block;
}

.google-button {
    background: #C1292E;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.3em;
    min-height: 48px;
    height: 48px;
    max-height: 48px;
    color: white;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        background: #d4353ae0
    }
}