<div class="background-box flexbox vertical centered">
    <div class="flexbox vertical centered intro">
        <img class="logo animated fade-in" src="../../../assets/logo/logo.png"/>
        <h1 class="animated fade-in small-delay"><b>Your</b>Turn</h1>
        <div class="block animated fade-in medium-delay">Hell <div class="block animated shake medium-delay"><b>no</b></div>! It's <div class="block animated shake medium-delay"><b>your</b></div> turn now!</div>
    </div>

    <div class="flexbox vertical centered animated fade-in big-delay">
        <p>Login things that I dunno how to do ¯\_(ツ)_/¯</p>
    </div>
</div>

