<div class="background-box flexbox vertical centered intro">
    <div class="flexbox vertical centered">
        <img class="logo animated fade-in" src="../../../assets/logo/logo.png"/>
        <h1 class="animated fade-in">YourTurn</h1>
        <h2>Hell no, it's your turn now!</h2>
    </div>

    <div class="flexbox vertical centered intro animated fade-in small-delay">
        <p>No more excuses. With this WebApp you'll manage your (and your mates) turns for daily tasks like rubbish or washing.</p>
    </div>

    <div class="flexbox vertical centered animated fade-in medium-delay">
        <p>No more excuses. With this WebApp you'll manage your (and your mates) turns for daily tasks like rubbish or washing.</p>
    </div>
</div>

