$mainColor: #0278bd;
$secondColor: #03A9F4;
$warningColor: #F76A34;

$fadein-time: 500ms;
$spinning-time: 800ms;

$blue-palette: (
    50: #e1f5fe,
    100:#b3e6fc,
    200:#82d5fa,
    300:#50c4f7,
    400:#2bb7f6,
    500:#06abf4,
    600:#059ce5,
    700:#0289d1,
    800:#0278bd,
    900:#00589b,

    constrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);



.flexbox {
    display: flex;

    &.horizontal {
        flex-direction: row;
    }

    &.vertical {
        flex-direction: column;
    }

    &.h-center {
        justify-content: center;
        align-content: center;
    }

    &.v-center {
        align-items: center;
    }

    &.centered {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.background-box {
    background: $mainColor;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


/** Usage css **/
.animated {
    &.fade-in {
        opacity: 0;
        -webkit-animation: fadeEffect $fadein-time forwards;
        animation: fadeEffect $fadein-time forwards; /* Fading effect takes 1 second */
    }

    &.spinning {
        animation: spin $spinning-time infinite linear;
    }

    &.shake {
        animation: shake 0.5s;
    }

    &.small-delay {
        animation-delay: 300ms;
    }

    &.medium-delay {
        animation-delay: 600ms;
    }

    &.big-delay {
        animation-delay: 900ms;
    }
}

.spaced {
    margin-right: 0.4em;
}