/* You can add global styles to this file, and also import other style files */
$mainColor: #3E97AB;
$secondColor: #01CFFB;
$accentColor: #DCF740;
$warningColor: #F76A34;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    min-height: 100vh;
    height: auto;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.flexbox {
    display: flex;

    &.horizontal {
        flex-direction: row;
    }

    &.vertical {
        flex-direction: column;
    }

    &.h-center {
        justify-content: center;
        align-content: center;
    }

    &.v-center {
        align-items: center;
    }

    &.centered {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.background-box {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    background: $mainColor;
}


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/** Usage css **/
.animated {
    &.fade-in {
        -webkit-animation: fadeEffect 0.3s;
        animation: fadeEffect 0.3s; /* Fading effect takes 1 second */
    }
}